*.Rproj.user
*.Rhistory
.RData
*.Ruserdata
*.DS_Store
.Rproj.user
*.tex
~$thods-and-results.docx
methods*
model definitions.docx
ANALYSIS/CODE/ARCHIVE
ANALYSIS/CODE/models/body_to_presence
ANALYSIS/CODE/models/brain_to_presence
ANALYSIS/CODE/models/longevity_to_presence
ANALYSIS/CODE/models/phylo_signal
ANALYSIS/CODE/models/sociality_to_presence
ANALYSIS/CODE/models/habitat_to_presence
ANALYSIS/CODE/models/body_to_nr_unique
ANALYSIS/CODE/models/brain_to_nr_unique
ANALYSIS/CODE/models/habitat_to_nr_unique
ANALYSIS/CODE/models/longevity_to_nr_unique
ANALYSIS/CODE/models/sociality_to_nr_unique
*.pdf
ANALYSIS/RESULTS/ARCHIVE
ANALYSIS/RESULTS/models_nr_unique.RData
ANALYSIS/RESULTS/models_nr_unique_words.RData
ANALYSIS/RESULTS/models_presence.RData
ANALYSIS/RESULTS/models_presence_pets_only.RData
ANALYSIS/RESULTS/models_quality.RData
ANALYSIS/RESULTS/models_presence_video_only.RData
ANALYSIS/RESULTS/models_nr_unique_no_words.RData