body_to_presence
brain_to_presence
longevity_to_presence
phylo_signal
sociality_to_presence
habitat_to_presence
body_to_nr_unique
brain_to_nr_unique
habitat_to_nr_unique
longevity_to_nr_unique
sociality_to_nr_unique
